/* Gill Sans */
@font-face {
  font-family: 'Gill Sans';
  src: local('GillSans'), url('../assets/fonts/GillSans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Zdyk Pisces */
@font-face {
  font-family: 'Zdyk Pisces';
  src: local('Zdyk Pisces'), url('../assets/fonts/Zdyk Pisces.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}